$custom-blue: #1887FC;
$shadow-color: #dde3eb;
$background-blue: #E7F3FE;
$shadow-background: #C2C9CFB2;
$icon-blue: #43494e;
$border-color: #3333334D;
$shadow-blue: #E7F3FE;
$filterBtn-color: #333333;
$black: #000000;
$white: #ffffff;