@use './fonts' as font;
@use './color'  as color;

/*Large text*/
%large-heading{
    font-family: font.$secondary-ff;
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    line-height: 1; 
}

/* Menu Text*/
%menu-text{
    color: color.$black;
    font-family: font.$primary-ff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
}

/* todo Btn */
%todoBtn-text{
    color: color.$black;
    font-family: font.$primary-ff;
    font-style: normal;
    line-height: 1;
}

/* filter Btn */
%filterBtn{
    color: color.$white;
    font-size: 13px;
    font-family: font.$primary-ff;
    font-style: normal;
}